{% extends "base.html" %}

{% block title %} Quizer - Register {% endblock %} 

{% block head %}
    {{ super() }}
{% endblock %}



{% block navbar %}
    <div class="container">
        {{ super() }}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ url_for('examiner.examinerhome') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('examiner.quizlist') }}" class="nav-link">Quizes</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container text-light">
        {{ super() }}
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="page-header"><h2>{{ quiz.name }}</h2></div>
                        <div class="questions d-flex flex-column justify-content-center align-items-center">
                            {% for page in pagination.items %}
                                <div data-toggle="list"
                                            class="list-group-item list-group-item-action text-light"
                                            style="background-color: #495158;">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ page.detail }}</h5>
                                    </div>
                                    <p class="mb-1">{{ page.option1 }}</p>
                                    <p class="mb-1">{{ page.option2 }}</p>
                                    <p class="mb-1">{{ page.option3 }}</p>
                                    <p class="mb-1">{{ page.option4 }}</p>
                                    <p class="mb-1">Solution: {{ page.correct_option }}</p> 
                                    <hr>                                
                                </div>
                                <nav class="mt-3">
                                    <ul class="pagination" style="background-color: #495158;">
                                        {% for page in pagination.iter_pages() %}
                                            {% if page %}
                                                <li 
                                                class="page-item"><a href="{{ url_for('.onequiz', id=quiz.id, qid=page)}}" class="page-link">{{ page }}</a></li>
                                            {% else %}
                                                ...
                                            {% endif %}
                                        {% endfor %}
                                    </ul>   
                                </nav>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <h2 class="page-header">Add Question</h2>
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning show fade" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% if form.errors %}
                            <div class="alert alert-warning show fade" role="alert">
                                {{ form.errors}}}
                            </div>
                        {% endif %}
                        <form id="form-addquestion" action="{{ url_for('examiner.addquestion', quiz_id=quiz.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="form-group">
                                {{ form.detail(class_="form-control", id="questionfield", placeholder="Question") }}
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        {{ form.option1(class_="form-control", id="option1field", placeholder="Option 1") }}
                                    </div>
                                    <div class="col">
                                        {{ form.option2(class_="form-control", id="option2field", placeholder="Option 2") }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        {{ form.option3(class_="form-control", id="option3field", placeholder="Option 3") }}
                                    </div>
                                    <div class="col">
                                        {{ form.option4(class_="form-control", id="option4field", placeholder="Option 4") }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.correct_option(class_="form-control", placeholder="Solution") }}
                            </div>
                            <div class="form-group">
                                <!-- {{ form.submit(class_="btn btn-outline-light") }} -->
                                <button form="form-addquestion" class="btn btn-outline-light" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <form id="students" action="{{ url_for('examiner.registerstudents', id=quiz.id)}}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% for student in students %}
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="student" value="{{ student.id }}" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                            {{ student.fname }} {{ student.lname }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    <button form="students" class="btn btn-outline-light" type="submit">Add Students</button>
                </form>
                
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}